<div>
    <h1> {{$ctrl.pageTitle}} </h1>

</div>
<!-- News jumbotron -->
<div class="jumbotron  hoverable p-4">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">

            <!-- Featured image -->
            <div class="view overlay">
                <img src="https://img.icons8.com/color/1600/person-male.png" width="350" height="400">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">

            <h1> {{$ctrl.movie.OriginalTitle}}</h1>

            <dl class="dl-horizontal">
                <dt>Release Date: </dt>
                <dd>{{$ctrl.movie.ReleaseDate}}</dd>
                <dt>Country: </dt>
                <dd>{{$ctrl.movie.Country}}</dd>

                <dt>Characters: </dt>
                <dd>
                    <ul class="list-group list-group-flush" ng-repeat="role in $ctrl.movie.Characters">
                        <li class="list-group-item list-group-item-info"> {{role.NameDto}} </li>
                    </ul>
                </dd>

            </dl>
            <div class="row justify-content-end">
                <div class="col-lg-5 " ng-if="$ctrl.isDelete">
                    <a class="btn btn-danger btn-block" ng-click="$ctrl.delete($ctrl.movie.Id)" ui-sref="movies" ui-sref-opts="{reload:true}">Yes, delete it</a>
                </div>
                <div class="col-lg-5 " ng-if="!$ctrl.isDelete">
                    <a class="btn btn-primary btn-block" ui-sref="editMovie({id: $ctrl.movie.Id})">Edit</a>
                </div>
                <div class="col-lg-5 ">
                    <a class="btn btn-default btn-block btn-outline-secondary " ui-sref="movies" ui-sref-opts="{reload:true}">Go back to List!</a>
                </div>



            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- News jumbotron -->
</div>