
<form class="form-inline row justify-content-end mb-2 ">
    <input class="form-control mr-2  " type="text" placeholder="Filter search..." ng-model="$ctrl.filter" />
    <input class="form-control mr-2 btn btn-info btn-block " value="Create New" ui-sref="createMovie({})">
</form>

<div class="media row mb-2 bg-light" ng-repeat="movie in $ctrl.movies | filter:$ctrl.filter" style="border:1px solid; border-color: #99c2ff ; border-radius: 20px">
    <div class="col-2" >
        <img class="" src="http://iconshow.me/media/images/Mixed/small-n-flat-icon/png/512/movie.png" height="194" width="170">
    </div>    
    <div class="media-body col-4 border-left border-right border-info m-1">      
        
            <h4 class="text-primary">{{movie.OriginalTitle}}</h4>
            <dl class="dl-horizontal">
                <dt>Release date: </dt>
                <dd>{{movie.ReleaseDate | date}}</dd>
                <dt>Country: </dt>
                <dd>{{movie.Country}}</dd>

            </dl>
            <div class=" btn-group btn-block mb-1" >
                <a class="btn btn-info col-lg-4  " ui-sref="movieDetail({id: movie.Id, btn: movie.Id})">Details</a>
                <a class="btn btn-primary col-lg-4 " ui-sref="editMovie({id: movie.Id})">Edit</a>
                <input type="button" class=" btn btn-outline-danger col-lg-4 " value="Delete" ui-sref="deleteMovie({id: movie.Id})" style="background-color:#e0d1d1"/>
            </div>                
    </div>
    <div class="col-6 m-1">
        <dl>
            <dt>Characters: </dt>
            <dd>
                <ul class="list-group list-unstyled" ng-repeat="role in movie.Characters">
                    <li class="list-group-item  list-group-item-primary"> {{role}}</li>
                </ul>
            </dd>
        </dl>
    </div>   
</div>