<div ng-app="app" style="margin-top:30px">

    <ui-view>
        <a class="btn btn-primary" ui-sref="actors">Actors</a>
        <a class="btn btn-primary" ui-sref="movies">Movies</a>
    </ui-view>
    
</div>