<h2>Create Actor</h2>

<form class="form-horizontal" name="actorForm">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label ">Name:</label>
                <div class="">
                    <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Id" style="display: none;">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Name" placeholder="Enter Name" name="name" required>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Nationality:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-flag"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Nationality" placeholder="Enter Nationality" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Birth date:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="date" class="form-control" ng-model="$ctrl.actorToCreate.DateOfBirth" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Actor photo:</label>
                
                <div class="col-lg-offset-1">
                    <div class="image-upload">
                        <label for="file-input">
                            <img src="https://www.colourbox.com/preview/26114474-bearded-men-face-hipster-character-vector-illustration.jpg" width="200" height="300" />
                        </label>

                        <input class="form-control" id="file-input" type="file" style="display: none;"/>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="col-md-8" style="margin-top:25px;">           

            <div class="col-lg-12">
                <button type="button" class="btn btn-light btn-block" value="addRoles" ng-click="$ctrl.actorToCreate.Roles.push({})">Add Role</button>
                <div class="form-inline" ng-repeat="role in $ctrl.actorToCreate.Roles" >
                    <br />
                    <div class="">
                        <label class="col-lg-1 ">Role:</label>
                        <input class="form-control col-lg-5" type="text" placeholder="Role Name..." ng-model="role.nameDto" />
                        <label class="col-lg-1 ">Movie:  </label>
                        <select class=" form-control col-lg-5 " placeholder="Role movie..." ng-model="role.MovieId">
                            <option ng-repeat="movie in $ctrl.movies" value="{{movie.Id}}">{{movie.OriginalTitle}} - {{movie.Id}}</option>
                        </select>
                    </div>
                    <button class="btn btn-danger btn-block" ng-click="$ctrl.actorToCreate.Roles.splice($ctrl.actorToCreate.Roles.indexOf(role), 1)">Delete</button>
                </div>

            </div>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group form-inline">
            <div class="row">
                <button class="btn btn-info col-lg-10" ng-click="$ctrl.createActor()" ui-sref="actors" ui-sref-opts="{reload:true}" ng-disabled="actorForm.$invalid">save</button>
                <a class="btn btn-default col-lg-2" ui-sref="actors" ui-sref-opts="{reload:true}">Back to list!</a>
            </div>
        </div>
    </div>
</form>