<h2>Create Actor</h2>

<form class="form-horizontal">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label ">Name:</label>
                <div class="">
                    <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Id" style="display: none;">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Name" placeholder="Enter Name">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Nationality:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-flag"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Nationality" placeholder="Enter Nationality">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Birth date:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="date" class="form-control" ng-model="$ctrl.actorToCreate.DateOfBirth">
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="col-md-9" style="margin-top:47px;">
            

            <input type="button" class="btn btn-light btn-block" value="Roles" ng-click="$ctrl.ShowHide()" />
            <div class="" ng-show="$ctrl.IsVisible">
                <input class="form-control " type="text" value="" placeholder="Role Name..." ng-model="$ctrl.Role.nameDto" />
                <select class=" form-control" placeholder="Role movie..." ng-model="$ctrl.Role.MovieId">
                    <option ng-repeat="movie in $ctrl.movies" value="{{movie.Id}}">{{movie.OriginalTitle}} - {{movie.Id}}</option>
                </select>
                <input type="hidden" class="form-control" ng-model="Id">
            </div>
        </div>
        <!------------------------------------------------------------------------------------------>
        <div class="form-group form-inline">
            <div class="row">
                <button class="btn btn-info col-lg-10" ng-click="$ctrl.createActor($ctrl.actorToCreate)" ui-sref="actors" ui-sref-opts="{reload:true}">save</button>
                <a class="btn btn-default col-lg-2" ui-sref="actors" ui-sref-opts="{reload:true}">Back to list!</a>
            </div>
        </div>
    </div>
</form>