<h2>Create Actor</h2>

<form class="form-horizontal">
    <div class="row">
        <div class="">
            <div class="form-group">
                <label class="control-label ">Name:</label>
                <div class="">
                    <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Id" style="display: none;">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Name" placeholder="Enter Name">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Nationality:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-flag"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToCreate.Nationality" placeholder="Enter Nationality">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Birth date:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="date" class="form-control" ng-model="$ctrl.actorToCreate.DateOfBirth">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group form-inline">
            <div class="row">
                <button class="btn btn-info col-lg-10" ng-click="$ctrl.createActor($ctrl.actorToCreate)">save</button>
                <a class="btn btn-default col-lg-2" ui-sref="actors">Back to list!</a>
            </div>
        </div>
    </div>
</form>