<div>
    <h1> Are you Sure? </h1>

</div>
<!-- News jumbotron -->
<div class="jumbotron  hoverable p-4">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">

            <!-- Featured image -->
            <div class="view overlay">
                <img src="https://www.colourbox.com/preview/26114474-bearded-men-face-hipster-character-vector-illustration.jpg" width="300" height="400">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">

            <h1> {{actor.Name}}</h1>

            <dl class="dl-horizontal">
                <dt>Birth Date: </dt>
                <dd>{{actor.DateOfBirth}}</dd>
                <dt>Nationality: </dt>
                <dd>{{actor.Nationality}}</dd>
                <dt>Age: </dt>
                <dd>{{actor.age}}</dd>
                <dt>Roles: </dt>
                <dd><br/><ul class="list-unstyled" ng-repeat="role in actor.Roles">
                        <li class=""> {{role.NameDto}}</li>
                    </ul>
                </dd>

            </dl>
            <div class="row">
                <div class="col-lg-9 ">
                    <a class="btn btn-danger btn-block col-md-3 m-0" ng-click="$ctrl.deleteActor(actor.Id)" ui-sref="actors" ui-sref-opts="{reload:true}">Yes, Delete it</a>
                </div>
                <div class="col-lg-3 ">
                    <a class="btn btn-default btn-block mx-0" ui-sref="actors" ui-sref-opts="{reload:true}">No, Back to List!</a>
                </div>



            </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- News jumbotron -->
