<h2>Edit Actor</h2>

<form class="form-horizontal" >
    <div class="row">
        <div class="">
            <div class="form-group">
                <label class="control-label ">Name:</label>
                <div class="">
                    <input type="text" class="form-control" ng-model="$ctrl.actorToEdit.Id" style="display: none;">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToEdit.Name" placeholder="Enter Name">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Nationality:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-flag"></span>
                        <input type="text" class="form-control" ng-model="$ctrl.actorToEdit.Nationality" placeholder="Enter Nationality">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label ">Birth date:</label>
                <div class="">
                    <div class="form-inline">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="date" class="form-control" ng-model="$ctrl.actorToEdit.DateOfBirth" >
                    </div>
                </div>
            </div>            
        </div>
        <div class="form-group form-inline">
            <div class="row">
                <button class="btn btn-info col-lg-10" ng-click="$ctrl.editActor($ctrl.actorToEdit)">save</button>
                <a class="btn btn-default col-lg-2" ui-sref="actors" ui-sref-opts="{reload:true}">Back to list!</a>
            </div>
        </div>
    </div>
    
    
</form>