

<table cellpadding="12" class="table table-bordered table-hover">
    <tr>
        <td>
            <b>Id</b>
        </td>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Nationality</b>
        </td>
        <td>
            <b>Roles</b>
        </td>
        <td>
            <b>Actions</b>
        </td>
    </tr>    
    <tr ng-repeat="actor in actors">
        <td id="actorId">
            {{actor.Id}}
        </td>
        <td>
            {{actor.Name}}
        </td>
        <td>
            {{actor.Nationality}}
        </td>
        <td>
            <ul ng-repeat="role in actor.Roles">
                <li> {{role}}</li>
            </ul>

        </td>
        <td>
            <a class="btn btn-primary" ui-sref="actorDetail({id: actor.Id})">Details</a>
            <a class="btn btn-success" ui-sref="editActor({id: actor.Id})">Edit</a>
            <input type="button" class="btn btn-danger" value="Delete" ng-click="$ctrl.deleteActor(actor.Id)" />

        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-offset-7">
        <a class="btn btn-info btn-block col-md-3" ui-sref="createActor">Create Actor</a>
    </div>
</div>

