

<table cellpadding="12" class="table table-bordered table-hover" style="margin:0">
    <tr>
        <td>
            <b>Id</b>
        </td>
        <td>
            <b>Name</b>
        </td>
        <td>
            <b>Nationality</b>
        </td>
        <td>
            <b>Roles</b>
        </td>
        <td>
            <b>Actions</b>
        </td>
    </tr>    
    <tr ng-repeat="actor in actors">
        <td id="actorId">
            {{actor.Id}}
        </td>
        <td>
            {{actor.Name}}
        </td>
        <td>
            {{actor.Nationality}}
        </td>
        <td>
            <ul ng-repeat="role in actor.Roles">
                <li> {{role}}</li>
            </ul>

        </td>
        <td>
            <div class="row col-lg-12 btn-group"style="margin:0; padding:0">
                <a class="btn btn-info col-lg-4  " ui-sref="actorDetail({id: actor.Id})">Details</a>
                <a class="btn btn-primary col-lg-4 " ui-sref="editActor({id: actor.Id})">Edit</a>
                <input type="button" class="btn btn-danger col-lg-4 " value="Delete" ui-sref="deleteActor({id: actor.Id})" />
            </div>
            

        </td>
    </tr>
    <tr>

    </tr>
</table>
<div class="container row" style="margin:0; padding-right:0" >
    <div class=""style="  float: right;  width: 310px">
        <a class="btn btn-success btn-block col-lg-4 " ui-sref="createActor">Create Actor</a>
    </div>
</div>

